@using LiveCSharpDTW052022.Models
@model EditLinkViewModel
@{
}

<h1>Modifier un lien</h1>

<form asp-controller="Links" asp-action="EditLinkAction">

  <input type="hidden" asp-for="monLien.IdLink" />

  <div class="form-group">  <!-- monLien.Title -->
    <label asp-for="monLien.Title">Titre</label>
    <input class="form-control" asp-for="monLien.Title">
    <span asp-validation-for="monLien.Title" class="text-danger"></span>
  </div>
  <div class="form-group"><!-- monLien.Description -->
    <label asp-for="monLien.Description">Description</label>
    <input class="form-control" asp-for="monLien.Description">
  </div>
  <div class="form-group"><!-- monLien.Url -->
    <label asp-for="monLien.URL">URL</label>
    <input class="form-control" asp-for="monLien.URL">
    <span asp-validation-for="monLien.URL" class="text-danger"></span>>
  </div>
  
  <div class="form-group"><!-- monLien.Auteur.IdUser" -->
    <label asp-for="monLien.Auteur.IdUser">Auteur</label>
     <!-- On remplace par la classe select --> 
     <select class="form-control" asp-for="monLien.Auteur.IdUser">
        @foreach(var user in Model.lstUsers)
        {
            // SElected ,uniquement si l'' utilisateur de mon lien est le meme que celui que je parcours'
            <option selected="@(user.IdUser == Model.monLien.Auteur.IdUser)"
             value="@user.IdUser">@user.UserSurName @user.UserForeName</option>
        }
       </select>
  </div>
  @*<div class="form-group">
      <label asp-for="lstusers">gogo</label>
      <select asp-for="lstusers">gogoauteur</select>
  </div>*@
 <!---->
  <button type="submit" class="btn btn-primary">Modifier</button>
 <!---->

</form>


