@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenue sur DevTechWatch</h1>
    <p>Ce site a été réalisé au printemps 2022 en ASP.NET Core 3.1 .L'objectif de ce site est de gérer des liens et des utilisateurs en requètant une BDD en Mysql.'</p>
</div>
